body {
    background-color: #1a1b23;
    overflow: hidden;
}

.entrance-text {
    position: absolute;
    top: 20%;
    left: 100%;
    transform: translateY(-50%);
    font-size: 10vw;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    animation: slideLeft 10s linear infinite;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.button {
    height: 25%;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #5a7488;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000b11;
}


@keyframes slideLeft {
    0% {
        left: 100%;
    }

    100% {
        left: -200%;
    }
}