body {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #032541;
}

.card {
    background-color: #032541;
}
#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_item {
    margin: 1rem;
    text-align: center;
    color: white;
    font-size: 25px;
    max-width: 500px;
}

.title {
    padding-top: 16px;
}

.movie_img_rounded {
    border-radius: 3rem;
}